:root {
  --fc-button-bg-color: #4d74da;
  --fc-button-border-color: #4d74da;
  --fc-button-hover-bg-color: #2954c6;
  --fc-button-hover-border-color: #2954c6;
  --fc-button-active-bg-color: #2954c6;
  --fc-button-active-border-color: #2954c6;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar-link {
    @apply rounded-md px-3 py-2 text-sm font-medium text-gray-500 hover:bg-primary-600 hover:text-white;
  }

  .navbar-link.active {
    @apply bg-primary-500 text-white;
  }

  .navbar-link-mobile {
    @apply block rounded-md px-3 py-2 text-base font-medium text-gray-500 hover:bg-primary-600 hover:text-white;
  }

  .navbar-link-mobile.active {
    @apply bg-primary-500 text-white;
  }

  .user-menu-link {
    @apply block px-4 py-2 text-sm text-primary-500 hover:bg-primary-100;
  }

  .user-menu-link.active {
    @apply bg-primary-100;
  }

  .tab-link {
    @apply font-semibold p-3 rounded-md text-primary-500 hover:bg-primary-600 hover:text-white;
  }

  .tab-link.active {
    @apply text-white bg-primary-500 hover:bg-primary-600;
  }

  .sidebar-link {
    @apply flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold text-gray-400 hover:text-white hover:bg-primary-500;
  }

  .sidebar-link .icon {
    @apply h-6 w-6 shrink-0;
  }

  .sidebar-link.active {
    @apply bg-primary-500 text-white;
  }

  .sidebar-link.active .icon {
    @apply text-white;
  }

  .card-hover {
    @apply block duration-300 transition-transform hover:scale-105;
  }

  button {
    @apply transition-transform duration-300 active:scale-105;
  }

  .search-button {
    @apply p-2 rounded flex items-center gap-2 hover:bg-primary-50 w-full text-left;
  }
}

.fc .fc-toolbar {
  flex-wrap: wrap;
  gap: 0.625rem;
}

.fc-timegrid-event-harness {
  min-height: 5rem;
}

.fc .fc-button-primary:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus,
.fc .fc-button-primary:not(:disabled):active:focus {
  box-shadow: rgba(112, 173, 234, 0.5) 0px 0px 0px 0.2rem;
}

/* animate css */

.animate-spin-slower {
  animation: spin 6s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

.animate-spin-slow {
  animation: spin 4s linear infinite;
}

@keyframes spin-reverse {
  to {
    transform: rotate(-1turn);
  }
}

.animate-spin-reverse-slower {
  animation: spin-reverse 6s linear infinite;
}

@keyframes featureCard {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.animate-feature-card {
  animation: featureCard 0.5s linear forwards;
}

@keyframes marquee {
  to {
    transform: translateY(-50%);
  }
}

.animate-marquee {
  animation: marquee var(--marquee-duration) linear infinite;
}
